body {
  background-color: #edeff0;
  position: relative;
  height: 100vh;
}

.form {
  background-color: #fff;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 1.5rem;
  max-width: 25rem;
  padding: 4rem 2.5rem;
  border-right: 0.6rem solid var(--main-color);
}

.email,
.password {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email-label,
.password-label {
  margin-bottom: 0.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.email-input,
.password-input {
  color: #5e5e5e;
  border: 1px solid rgba(128, 128, 128, 0.295);
  font-family: inherit;
  padding: 0.3rem 0.2rem;
  background-color: #f1f1f1;
}

.email-input:focus,
.password-input:focus {
  outline: none;
}

.form-link {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
}

.create-account,
.forgot-password {
  text-decoration: none;
}

.login-btn {
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.6rem;
  border-radius: 1px;
}

.back-link {
  position: absolute;
  top: -20%;
  left: 0;
  color: var(--text-color);
  font-size: 1.5rem;
}
