<%-include("./head.ejs")%>
<body>
    <header class="header">
      <div class="row">
        <nav class="nav">
          <a href="/" class="logo">Naturist</a>
          <ul class="list">
            <li class="list-item">
              <a href="" class="list-item-link">API</a>
            </li>
            <li class="list-item">
              <a href="" class="list-item-link">Price</a>
            </li>
            <li class="list-item">
              <a href="/login" class="list-item-link">Login</a>
            </li>
            <li class="list-item">
              <a href="/signup" class="list-item-link">Signup</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="hero">
        <h1 class="hero-title">Explore the nature</h1>
        <a href="/tours" class="hero-btn">Discover</a>
      </div>
    </header>
  </body>
</html>
