<%-include("./head.ejs")%>
<body>
    <form class="form">
      <a class="back-link" href="/"
        ><i class="fas fa-arrow-left"></i
      ></a>
      <div class="email">
        <label for="email" class="email-label">Email</label>
        <input id="email" type="text" class="email-input" name="email" />
      </div>
      <div class="password">
        <label for="password" class="password-label">Password</label>
        <input
          id="password"
          type="password"
          class="password-input"
          name="password"
        />
      </div>
      <div class="form-link">
        <a href="/signup" class="create-account">Create Account</a>
        <a href="/forgot-password" class="forgot-password"
          >Forgot Password?</a
        >
      </div>
      <button type="button" class="login-btn">Log In</button>
    </form>
  </body>
</html>
